*{
    padding:0;
    margin:0;
}
#app{
    height: 100vh;
    widows: 100vw;
    background-image:url('./img/login_bg.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.main{
    width: 500px;
    height: 500px;
}