<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="./login.css">
    <script src="../../utils/vue.min.js"></script>
    <script src="../../utils/jquery.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="login-form">
            <img class="first-formbg" src="../../img/login_form_bg.png" alt="" width="350" height="350">
            <img class="second-formbg" src="../../img/login_form_bg.png" alt="" width="350" height="350">
            <img class="third-formbg" src="../../img/login_form_bg.png" alt="" width="350" height="350">
            <img class="rope" src="../../img/rope.png" alt="" width="112" height="12">
            <img class="rope-ring-left" src="../../img/rope_ring.png" alt="" width="25" height="25">
            <img class="rope-ring-right" src="../../img/rope_ring.png" alt="" width="25" height="25">
            <img class="member-text" src="../../img/member_text.png" alt="" width="81" height="19">
            <img class="submit-bg" src="../../img/submit_button_bg.png" alt="" width="295" height="75">
            <div class="account"><input type="text" v-model="username"></div>
            <div class="account" style="top:160px"><input type="password" v-model="password"></div>
            <button class="submit" :disabled="disabled" @click="submit">登 录</button>
        </div>
    </div>
    <script>
        const reportUrl = 'http://192.168.1.181/auth/login';
        const ipc = require('electron').ipcRenderer
        const md5 = require('js-md5');
        const app = new Vue({
            el: '#app',
            data: {
                disabled: false,
                username: 'st001',
                password: '123'
            },
            methods: {
                submit() {
                    const data = {
                        username: this.username,
                        check_login: false,
                        product: 'rtcenter',
                        hardware_info: window.navigator.platform || 'chrome',
                        password: md5(this.password),
                    }
                    this.disabled = true;
                    $.get(reportUrl, data, (res) => {
                        this.disabled = false;
                        res.path = 'home';
                        ipc.send('main-message', res);
                    })
                },
            }
        })
    </script>
</body>

</html>